<div class="newWelfare" ng-controller="newWelfare">
    <div class="banner">
        <img src="images/activity/friendreg/banner.png" alt="">
    </div>
    <main style="padding-bottom:2rem;">
        <div>
            <div class="box-zhuce">
                <div class="tyj">
                    <img src="images/login/bg1.png" alt="">
                    <p class="price">￥<span>88888</span></p>
                    <p class="right">享体验金</p>
                </div>
                <div class="backHB">
                    <img src="images/login/bg1.png" alt="">
                    <p class="price">￥<span>888</span></p>
                    <p class="right">返现红包</p>
                </div>
                <div class="btn-zhuce" ng-click="lijizhuce()">立即注册</div>
            </div>
            <div class="Activity-rule">
                <h3>活动规则</h3>
                <ul>
                    <li>1、新用户注册成功，立领88888元体验金+888元返现红包。</li>
                    <li>2、体验金投资后可得到专享收益，在“我的-体验金“可查看和投资 体验金，体验金收益可在充值投资后提现。</li>
                    <li>3、返现红包适用于”30天、60天、180天理财产品“，满足投资条 件立返到账户余额，可提现。在“我的-优惠券”中可查看详情。</li>
                    <li>4、同一用户仅获得一次新手礼包，拥有同一手机号码、身份证的嗷呜宝注册用户均视为同一用户。</li>
                </ul>
                <p>*本活动最终解释权在法律允许范围内归嗷呜宝所有！</p>
            </div>
            <i class="first"></i>
            <i class="second"></i>
        </div>
    </main>
</div>