<!-- <div>
    <img src="images/activity/inviteFriend2/ios-yaoqingsanchong.png" alt="" width="100%" style="max-width:750px">
</div> -->

<div class="inviteFriend2" ng-controller="inviteFriend2">
    <h1 ui-sref="main.home"></h1>
    <img class="banner" style="width:100%;" src="images/activity/inviteFriend2/banner.png">
    <main>
        <div class="first">
            <img style="width:100%;" src="images/activity/inviteFriend2/firstStep.png" alt="">
        </div>
        <div class="content-title">
            <p>每邀请一位好友注册，</p>
            <p>即可获得8.8元返现红包，返现无上限！</p>
        </div>
        <div class="content">
            <div class="left">
                <img src="images/activity/inviteFriend2/ren.png" alt="">
            </div>
            <div class="right">
                <p>奖励规则：</p>
                <ul>
                    <li>1.注册返现需邀请的好友完成注册。</li>
                    <li>2.好友必须通过您提供的专属链接或专属邀请码进行注册，才能建立邀请关系获得返现红包。</li>
                    <li>3.奖励发放：当您的好友完成注册确认后，系统将自动发放返现红包至您的账户中，一小时内即可到账，8.8元返现红包可投资任意≥60天产品满1000元激活使用，有效期60天。</li>
                </ul>
            </div>
        </div>
        <div class="second">
            <div class="first">
                <img style="width:100%;" src="images/activity/inviteFriend2/secondStep.png" alt="">
            </div>
            <div class="coupon">
                <div class="coupon-content">
                    <img src="images/activity/inviteFriend2/Coupon.png" alt="">
                    <div class="left">
                        返现红包
                    </div>
                    <div class="right">
                        <p class="price">￥<span>20</span></p>
                        <p>每位邀请的好友首次投资任意≥30天期限的产品满3000元，您即可获得20元返现红包，返现无上限！</p>
                    </div>
                </div>
                <div class="coupon-rules">
                    <p>奖励规则：</p>
                    <ul>
                        <li>1.首投返现只针对好友首次投资的嗷月宝30天、嗷盈宝60天及嗷稳宝180天系列理财产品，投资其它理财产品则无返现。</li>
                        <li>2.奖励发放：当您的好友完成定期理财产品首投后，系统将自动发放返现红包至您的账户中，一小时内即可到账，20元返现红包可投资任意≥30天标的满1000元激活使用，有效期15天。</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="first">
            <img style="width:100%;" src="images/activity/inviteFriend2/thirdStep.png" alt="">
        </div>
        <div class="content-title" id="third">
            <p>您还可获得每位邀请好友累计年化投资额</p>
            <p>对应的红包奖励，最高可得8888元返现红包。</p>
        </div>
        <div class="thirdContent">
            <div class="top">
                <div class="left">
                    <h3>邀请好友累计年化投资额</h3>
                    <ul>
                        <li>1000元≤累计年化投资额＜5000元</li>
                        <li>5000元≤累计年化投资额＜8000元</li>
                        <li>8000元≤累计年化投资额＜12000元</li>
                        <li>12000元≤累计年化投资额＜30000元</li>
                        <li>30000元≤累计年化投资额＜50000元</li>
                        <li>50000元≤累计年化投资额＜100000元</li>
                        <li>100000元≤累计年化投资额＜300000元</li>
                        <li>300000元≤累计年化投资额＜500000元</li>
                        <li>500000元≤累计年化投资额＜1000000元</li>
                        <li>1000000元≤累计年化投资额</li>
                    </ul>
                </div>
                <div class="right">
                    <h3>返现红包</h3>
                    <ul>
                        <li>8元</li>
                        <li>38元</li>
                        <li>58元</li>
                        <li>88元</li>
                        <li>188元</li>
                        <li>388元</li>
                        <li>688元</li>
                        <li>1688元</li>
                        <li>2888元</li>
                        <li>8888元</li>
                    </ul>
                </div>
            </div>
            <div class="bottom">
                <span>举个例子：</span>
                <p>您邀请的好友小王从您邀请开始累计投资的金额为60000元，投资期限为60天，您邀请的另外一个好友小明从邀请开始累计投资80000元，投资期限为180天， 则您邀请好友的累计年化投资额为60000/(360/60)+80000/(360/180)=50000
                    元，那么你可获得的返现红包则为388元。
                </p>
            </div>
        </div>
    </main>
    <section>
        <div class="friendInfo">
            <div class="left">
                <img src="images/activity/inviteFriend2/info.png" alt="">
            </div>
            <div class="right">
                <p>如果您的壕友太多，累计1000000元的封顶不够，您还可以通过邀请好友来拓展上限哦，只要您邀请的有效好友人数（注册绑卡人数）分别达到相应人数，则可提升至对应投资上限，获取更高额度的返现红包。</p>
            </div>
        </div>
        <div class="friendRule">
            <div class="left">
                <h3>有效好友人数</h3>
                <p>10人≤有效好友人数＜20人</p>
                <p>20人≤有效好友人数＜30人</p>
                <p>30人≤有效好友人数＜50人</p>
                <p>50人≤有效好友人数</p>
            </div>
            <div class="right">
                <h3>阶梯奖励升档</h3>
                <p>好友累计年化投资2000000元，累计奖励返现红包8888元×2</p>
                <p>好友累计年化投资2000000元，累计奖励返现红包8888元×3</p>
                <p>好友累计年化投资2000000元，累计奖励返现红包8888元×4</p>
                <p>好友累计年化投资2000000元，累计奖励返现红包8888元×5</p>
            </div>
        </div>
        <div class="rewardRule">
            <p>奖励规则：</p>
            <ul>
                <li>1.累计年化投资额奖励的红包为返现红包，累计年化投资额度达到相应额度后，返现红包将在1个小时内发放至您的账户，仅奖励累计达到的最高年化投资额所对应的返现红包。</li>
                <li>2.通过邀请好友提升的累计年化投资额奖励均以1000000元为一档，奖励8888元的 整数倍返现红包，5000000元封顶。</li>
                <li>3.累计年化投资奖励的返现红包拆分的数量、金额和有效期请至【我的优惠券】中进行查看。</li>
            </ul>
        </div>
        <div class="newPeople">
            <p>被邀好友可获得</p>
            <p class="tyj">88888元体验金+888元红包</p>
            <p>还可额外获得前两笔投资额对应的返现红包</p>
            <span>投资额度和期限及对应奖励如下:</span>
            <div class="info">
                <div>
                    <h3>单笔投资金额</h3>
                    <p>¥5,000.00</p>
                    <p>¥10,000.00</p>
                    <p>¥30,000.00</p>
                    <p>¥50,000.00</p>
                    <p>¥100,000.00</p>
                </div>
                <div>
                    <h3>投资期限</h3>
                    <p>180</p>
                    <p>180</p>
                    <p>180</p>
                    <p>180</p>
                    <p>180</p>
                </div>
                <div>
                    <h3>奖励返现红包</h3>
                    <p>¥18.00</p>
                    <p>¥38.00</p>
                    <p>¥108.00</p>
                    <p>¥188.00</p>
                    <p>¥388.00</p>
                </div>
                <div>
                    <h3>红包有效期(天)</h3>
                    <p>30</p>
                    <p>30</p>
                    <p>60</p>
                    <p>60</p>
                    <p>90</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer" ng-if="ftype==1">
        <div>
            <p class="login">马上登录&#x3000;邀请赚钱！</p>
        </div>
        <div class="button-box">
            <img ng-if="wap" src="images/activity/inviteFriend2/login-button.png" ui-sref="dl({returnurl:'inviteFriend2'})">
            <a href="aowb://page=4?" ng-if="!wap">
                <img src="images/activity/inviteFriend2/login-button.png">
            </a>
        </div>
    </footer>
    <div class="activity-firend-boxh5" ng-click="closeshareh5()">
        <div class="h5share" ng-click="default($event)">
            <p>复制以下网址，发送给您的好友注册并投资</p>
            <textarea id="shareurl" ng-model="shareUrl" class="shareurl">{{shareUrl}}</textarea>
            <a ng-click="copyShare()" ng-show="!isCopy">复制链接</a>
            <a ng-show="isCopy" style="color:#999;">{{isCopytext}}</a>
        </div>
    </div>
    <div class="activity-firend-boxweixin" ng-click="closeshareweixin()">
        <img src="images/activity/inviteFriend1/sharetext.png" class="sharetext" />
    </div>
    <p class="activity-firend-info">*本活动由嗷呜宝发起并就活动内容作出解释和说明,活动长期有效，</p>
    <p class="activity-firend-info">我们将在活动结束前提前通知大家</p>
    <p class="activity-firend-kefu">
        <span>任何疑问请联系嗷呜宝客服:400-921-0758</span><br>
        <span>客服微信服务号：嗷呜宝</span>
    </p>
    <p style="color:#966bb8;">*苹果公司（Apple Inc.）非活动赞助商，本活动与苹果公司无关</p>
    <div class="icpba">沪ICP备17010435号-3 | ©上海傲系金融信息服务有限公司 v{{version}}</div>
    <footer class="invitation-button" ng-if="ftype==2">
        <div class="left">
            <img src="images/activity/inviteFriend2/myinvitation.png" ng-click="myInvitation()">
        </div>
        <div class="button-box">
            <img ng-click="lijiyaoqing()" src="images/activity/inviteFriend2/lijiyaoqing.png">
        </div>
    </footer>
</div>