<div class='midAutumnActivity'>
    <img class="banner" style="width:100%;" src="images/activity/midAutumnActivity/9.20top1.png">
    <main>
        <div>
            <img src="images/activity/midAutumnActivity/mlzqygq.png"/>
            <p>活动时间:10月1日至10月30日</p>
            <ul>
                <li>活动用户：仅限嗷呜宝注册用户.</li>
                <li class="no2">嗷呜宝理财产品加息.</li>
                <li class="no3">
                    <span>理财产品:</span>
                    <ul>
                        <li>投资期三十天，加息0.5%；</li>
                        <li>投资期六十天，加息1.5%；</li>
                        <li>投资期一百八十天，加息1.0%;</li>
                    </ul>
                </li>
                <li class="no4">新手标、体验标不参与.</li>
            </ul>
        </div>
        <p class="pPaddingT">*本活动由嗷呜宝发起并就活动内容作出解释和说明</p>
        <p>任何疑问请联系嗷呜宝</p>
        <p class="pPaddingB">客服：021-26136426转8011  客服微信服务号：嗷呜宝</p>
    </main>
    <p ng-show="displayApple">*苹果公司（Apple lnc.) 非活动赞助商，本活动与苹果公司无关</p>
    <!--icp备案号-->
    <div class="icpba">沪ICP备17010435号-3 | ©上海傲系金融信息服务有限公司 v{{version}}</div>
</div>