<div class="certification">
    <div class="common-head" ng-click="toback()"><i></i>
        <p>{{title}}</p>
    </div>
    <!-- <form name="myForm">
        <div class="input-item">
            <label for="phone">手机号码</label>
            <input id="phone" name="phone" type="text" ng-model="userForm.phone" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')"
                required minlength="11" maxlength="11" placeholder="请输入您的银行预留手机号">
            <footer></footer>
        </div>
        <div class="input-item">
            <label for="realName">真实姓名</label>
            <input id="realName" name="realName" ng-model="userForm.realName" type="text" placeholder="请输入真实姓名" required>
            <footer></footer>
        </div>
        <div class="input-item">
            <label for="idCards">身份证号</label>
            <input id="idCards" name="idCards" ng-model="userForm.idCards" type="text" placeholder="请输入身份证号" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/"
                ng-minlength="18" maxlength="18" required>
            <footer></footer>
        </div>
        <div class="input-item">
            <label for="bankNum">卡号</label>
            <input id="bankNum" name="bankNum" ng-model="userForm.bankNum" type="text" placeholder="请输入银行卡号" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')"
                maxlength="20" required>
            <footer></footer>
        </div>
        <div class="input-item">
            <label>开户所在地</label>
            <div>
                <select name="select_province" ng-class="province?'':'select-init'" ng-model="province" ng-options="s.ProvinceName for s in cityList"
                    required ng-change="changeProvince()">
					<option value="">请选择省份</option>
				</select>
                <i>></i>
            </div>
            <div ng-if="province.Cities.length>0">
                <select ng-class="userForm.cityCode?'':'select-init'" id="cityCode" name="cityCode" ng-model="userForm.cityCode" ng-options="sh[1] as sh[0] for sh in province.Cities"
                    required>
					<option value="">请选择区县</option>
				</select>
                <i>></i>
            </div>
            <footer></footer>
        </div>
        <div class="input-item">
            <label for="smsCode">短信验证码</label>
            <input id="smsCode" name="smsCode" ng-model="userForm.smsCode" type="text" placeholder="请输入短信验证码" maxlength="8" required>
            <span ng-click="sendYzm(myForm)" class="msg-btn">{{nowTimer}}</span>
            <footer></footer>
        </div>
    </form> -->

    <form name="myForm">

        <div class="input-item">
            <label for="realName">持卡人</label>
            <input id="realName" name="realName" ng-model="userForm.realName" type="text" placeholder="请输入持卡人姓名" required>
            <footer></footer>
        </div>
        <div class="input-item">
            <label for="idCards">身份证号</label>
            <input id="idCards" name="idCards" ng-model="userForm.idCards" type="text" placeholder="请输入身份证号" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" ng-minlength="18" maxlength="18" required>
            <footer></footer>
        </div>
        <div class="input-item">
            <label>选择银行</label><i style="position: absolute;right: 0;top: 0;font-family: '宋体';font-weight: bold;color: #666666;font-size: 1.2rem;height: 3.20988rem;line-height: 3.20988rem;">></i>
            <div ng-click="hides()">
                <div class="choosebank" ng-model='selectedItem'>
                    <img ng-src="images/bank/{{selectedItem.id}}.png" alt=""><span>{{selectedItem.bankName}}</span>
                </div>
            </div>
            <footer></footer>
        </div>
        <div class="input-item">
            <label>银行卡所属地</label>
            <div>
                <select name="select_province" ng-class="province?'':'select-init'" ng-model="province" ng-options="s.ProvinceName for s in cityList" required ng-change="changeProvince()">
                        <option value="">请选择省份</option>
                    </select>
                <i>></i>
            </div>
            <div ng-if="province.Cities.length>0">
                <select ng-class="userForm.cityCode?'':'select-init'" id="cityCode" name="cityCode" ng-model="userForm.cityCode" ng-options="sh[1] as sh[0] for sh in province.Cities" required>
                        <option value="">请选择区县</option>
                    </select>
                <i>></i>
            </div>
            <footer></footer>
        </div>
        <div class="input-item">
            <label for="bankNum">输入卡号</label>
            <input id="bankNum" name="bankNum" ng-model="userForm.bankNum" type="text" placeholder="请输入银行卡号" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" maxlength="20" required>
            <footer></footer>
        </div>
        <div class="input-item">
            <label for="phone">银行预留手机号</label>
            <input id="phone" name="phone" type="text" ng-model="userForm.phone" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" required minlength="11" maxlength="11" placeholder="请输入手机号">
            <footer></footer>
        </div>
        <div class="input-item">
            <label for="smsCode">短信验证码</label>
            <input id="smsCode" name="smsCode" ng-model="userForm.smsCode" type="text" placeholder="请留意手机" maxlength="8" required>
            <span ng-click="sendYzm(myForm)" class="msg-btn">{{nowTimer}}</span>
            <footer></footer>
        </div>
    </form>
    <button ng-disabled="myForm.$invalid" class="btn submit" ng-click="submit()">立即认证</button>
    <p style="text-align: center;padding-top: 1rem;color: #666;">点击立即认证代表您已阅读并同意<a style="color: #ff6400;" href="https://www.aowubao.com/pay">《认证支付协议》</a></p>

    <div class="yinhangs" ng-hide="hide">
        <div class="yinhang">
            <div class="chongzhi">银行</div>
            <div class="chongzhi">单笔/单日限制(元)
                <img ng-click="show()" src="images/bank/guanbi.png" alt="">
            </div>
            <div class="xuanzhekuang">
                <p ng-repeat="list in yinhang" ng-click="xuanzhong(list)">
                    <span class="sp1"><img ng-src="images/bank/{{list.id}}.png" alt="">{{list.bankName}}</span>
                    <span class="sp2" ng-if="list.repairing == 0">{{ list.singleQuota / 10000 | number:'1'}}万/{{list.dayQuota/10000 | number:'1'}}万</span>
                    <span class="sp2" ng-if="list.repairing == 1">银行系统维护中</span>
                    <img ng-if="list.isSelected" src="images/bank/xuanzhong.png" alt="">
                </p>
            </div>

        </div>
    </div>

</div>