<div class="my-dizhi" ng-controller="redizhiController">

	<div class="common-head" ng-click="toback()" style="border-bottom:1px solid #ccc;"><i></i>
		<p>修改收货地址</p>
	</div>
	<form action="">
		<div class="xinzengdizhi">
			<div class="shouhuoren">
				<span>收货人</span><input type="text" placeholder="请填写收货人姓名" ng-maxlength="15" ng-model='addressInfo.name'>
			</div>
			<div class="xiahuaxian"></div>
			<div class="shoujihao">
				<span>联系电话</span><input type="text" placeholder="请填写手机号码" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" minlength="11" maxlength="11"
				 onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" ng-model='addressInfo.phone'>
			</div>
			<div class="xiahuaxian"></div>
			<div class="xiangxidizhi">
				<textarea rows="4" placeholder="请填写详细地址，不少于5个字" ng-model='addressInfo.address' minlength="5"></textarea>
			</div>
		</div>
		<!-- <div class="acquiescence">
			<span>设为默认地址</span>
			<div class="testswitch">
				<input class="testswitch-checkbox" id="onoffswitch" type="checkbox">
				<label class="testswitch-label" for="onoffswitch">  
						<span class="testswitch-inner"></span>  
						<span class="testswitch-switch"></span>  
					</label>
			</div>
		</div> -->
		<div class="save" ng-click='receive(addressInfo)'>
			保存
		</div>
	</form>

	<div class="prompting" ng-show="reminding">
		<img src="images/myaccount/errormessage.png" alt="">
		<p>请输入收货人姓名。</p>
	</div>
	<div class="prompting" ng-show="reminding1">
		<img src="images/myaccount/errormessage.png" alt="">
		<p>请正确输入手机号码。</p>
	</div>
	<div class="prompting" ng-show="reminding2">
		<img src="images/myaccount/errormessage.png" alt="">
		<p>请输入详细地址，不少于5个字。</p>
	</div>
</div>