<div class="wap-more-box" ng-controller="GSJSCtrl">
	<div class="common-head" ng-click="toback()" ng-if="wap=='true'"><i></i><p>{{title}}</p></div>
	<div class="zjjs-content">
        <img src="/images/more/qiantai.jpg" alt="">
        <div class="gsjj-box">
            <h2>公司简介</h2>
            <!--<p>上海傲系金融信息服务有限公司 (嗷呜宝)，是上海频盛实业发展有限公司运营的互联网金融信息平台，公司成立于2015年3月，实缴注册资金5000万元人民币。</p>-->
            <p>上海傲系金融信息服务有限公司
                (嗷呜宝)，是上海频盛实业发展有限公司运营的互联网金融信息平台，公司成立于2015年3月，实缴注册资金5000万元人民币。上线之初即已获千万级天使融资，股东“中垦姚顿”（中垦姚顿创新科技（海南）有限公司
                ）系双上市公司投资背景，分别为姚顿集团和海南橡胶（股票代码：601118 ）。</p>
            <br>
            <p>嗷呜宝创始成员有着杰出的业务能力和优秀的创业者品质。他们具有多年丰富的国内外投融资经验，深入理解互联网+金融体系的融合。而且80%以上成员具有3-10年以上的风控经验，成熟的金融风控团队严格甄选资产。</p>
            <br>
            <p>嗷呜宝旨在通过互联网技术，降低投资者的理财门槛，让投资者获得高于银行存款利息的收益，同时使中小微企业和个人实现更为高效的、低成本的融资，从而最大程度地提升社会闲散资金的流通效率，实现更大的社会价值，为普惠金融贡献一份力量。</p>
            <br>
            <p>嗷呜宝以严格的风控机制和审核流程，对每个项目进行线下考察、评估和审核，确保风险可控。嗷呜宝坚持合规经营，成立之初即与君澜律所合作，所有产品均由律师事务所鉴证和会计师事务所进行审计，确保资产真实，积极响应银监会对行业发展的指导意见，致力于打造一个值得信赖的、高效的互联网金融服务平台。</p>
        </div>
        <div class="ywms-box">
            <h2>业务模式</h2>
            <img src="/images/more/ywms.png" alt="">
        </div>
    </div>
</div>