<div class="wap-more-box" ng-controller="GSZZCtrl" ng-init="isYY=false">
    <div class="common-head" ng-click="toback()" ng-if="wap=='true'"><i></i>
        <p>公司资质</p>
    </div>
    <div class="gszz-content">
        <div class="content" ng-show="!isYY">
            <img src="images/more/zzhao.jpg">
            <p>企业信用信息查询系统可查询详情</p>
        </div>
        <div class="content" ng-show="!isYY">
            <img src="images/more/h5.png">
        </div>
        <div class="content" ng-show="!isYY">
            <img src="images/more/gszz1.png">
            <p>中国互联网诚信龙头企业</p>
        </div>
        <div class="content" ng-show="!isYY">
            <img src="images/more/gszz2.png">
            <p>互联网金融行业实名网站认证</p>
        </div>
        <div class="content" ng-show="!isYY">
            <img src="images/more/gszz3.png">
            <p>互联网金融示范单位实名验证企业</p>
        </div>
    </div>
</div>