<div class="wrap newhand-wrapper" ng-controller="kfflCtrl">
    <div class="common-head" ui-sref="kefu({wap:true})"><i></i>
        <p>投资福利</p>
    </div>
    <div class="panel-bodys">
        <ul class="panel-body-list">
            <li>
                <h3>注册是否有红包?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">成功注册投资即送888元新人专享投资红包。</p>
            </li>
            <li>
                <h3>成功注册是否有体验金?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;"> 成功注册即送88888元体验金。 </p>
            </li>
            <li>
                <h3>平台是否有优惠活动?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">活动专区会推出优惠活动，将用户投资的利益最大化。</p>
            </li>
        </ul>
    </div>
</div>