<div class="wrap newhand-wrapper" ng-controller="kfjsCtrl">
    <div class="common-head" ui-sref="kefu({wap:true})"><i></i>
        <p>产品介绍</p>
    </div>
    <div class="panel-bodys">
        <ul class="panel-body-list">
            <li>
                <h3>嗷鸣宝的30天定期标是怎么样的产品，收益是多少?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">嗷鸣宝30天定期标: 最低100元起投，按100元递增，T+1日计息，投资周期是30天，到期一次性还本付息，预期基础年化利率6.5%，平台活动加息2%。</p>
            </li>
            <li>
                <h3>嗷鸣宝的60天定期标是怎么样的产品，收益是多少?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;"> 嗷鸣宝60天定期标: 最低100元起投，按100元递增，T+1日计息，投资周期是60天，到期一次性还本付息，预期基础年化利率8.5%，平台活动加息1%。</p>
            </li>
            <li>
                <h3>嗷鸣宝的180天定期标是怎么样的产品，收益是多...<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">嗷鸣宝180天定期标: 最低100元起投，按100元递增， T+1日计息，投资周期是180天，到期一次性还本付息， 预期基础年化利率10.5%，平台活动加息1%。 </p>
            </li>
            <li>
                <h3>平台是否还有其他产品? <i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">嗷鸣宝会不定期推出优惠活动，为用户推出优惠产品，使用户的收益最大化。用户可以随时关注平台活动。</p>
            </li>
            <li>
                <h3>什么是新手标? <i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">针对在嗷鸣宝注册的新用户，最低100元起投，投资周期是7天，预期基础年化利率12%，每位新用户仅有一次投资机会，单笔投资最高限额10000元。</p>
            </li>
            <li>
                <h3>什么是体验标? <i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">针对在嗷鸣宝注册的新用户，使用嗷呜宝的体验金进行投资，标的为虚拟体验，可产生投资收益。体验金收益需要完成一次真实投资(新手标除外)后才可体现。</p>
            </li>
        </ul>
    </div>
</div>