<div class="wrap newhand-wrapper" ng-controller="kfwtCtrl">
    <div class="common-head" ui-sref="kefu({wap:true})"><i></i>
        <p>其他问题</p>
    </div>
    <div class="panel-bodys">
        <ul class="panel-body-list">
            <li ui-sref="topupstrategy({wap:true})">
                <h3>快速大额充值攻略</h3>
            </li>
            <li>
                <h3>投标前需要注意什么?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">投标前请认真分析所投资标的详细信息(起投金额，年化 利率，投资期限等)，以确定您所要投的标符合您的风险 承受能力和所要求的投资回报率。</p>
            </li>
            <li>
                <h3>投资是否需要收取佣金?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">目前平台暂时未收取佣金。</p>
            </li>
            <li>
                <h3>投标后什么时候开始计息?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;"> 投资第二天开始计息，产品满标后第二天起息。</p>
            </li>
            <li>
                <h3> 使用什么支付渠道? ? <i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">为了能够覆盖更多的合作银行，合作的第三方支付平台是 富友。</p>
            </li>
            <li>
                <h3> 如何找回登录密码? <i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">1.点击登录页面的忘记密码链接。 <br>2.填写注册时使用的手机号码，点击获取验证码。<br>3.输入发送手机上的验证码和新设的密码，完成重置密码 设置。</p>
            </li>
            <li>
                <h3> 平台目前有几种还款方式?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">目前平台的还款方式有一种:“到期一次性还清本息”。</p>
            </li>
            <li>
                <h3>APP软件出现闪退有哪些情况及解决方案?<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">情况: 1.页面不断加载。2.没有网络。<br>3.手机硬件和软 件不兼容。 解决方案: 1.建议退出APP重新登录2.卸载APP重新下载 安装3.重启手机在网络环境好的情况下尝试。 <br>若以上方法都不能解决，及时联系客服提交技术处理。</p>
            </li>
        </ul>
    </div>
</div>