<div class="wrap newhand-wrapper" ng-controller="kfzcCtrl">
    <div class="common-head" ui-sref="kefu({wap:true})"><i></i>
        <p>认证注册</p>
    </div>
    <div class="panel-bodys">
        <ul class="panel-body-list">
            <li>
                <h3>如何注册成为嗷呜宝的会员？<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">1、1.请登录http://www.aowubao.com，然后点击右上角的“注册”，根据指引一步步操作即可。<br>2、请到App Store 或者应用宝上直接搜索“嗷呜宝”，下载手机应用即可注册。</p>
            </li>
            <li>
                <h3>银行卡信息都正确，为什么不能通过认证？<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">1.银行卡认证需要跟银行信息相连的，可以尝试更换另一张银行卡进行尝试。<br>2.已经3次认证不通过的账号，无法再进行认证，需要在后台设置重新认证，更换其他银行卡进行认证。<br>3.三次验证失败后需要将客户的信息发邮件提交给技术处理。</p>
            </li>
            <li>
                <h3>注册于绑卡时收不到验证码是什么情况？<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">1.用户可能退订平台短信。<br>2.自行设置了拦截功能。<br>3.app版本未及时更新<br>如不属上述情况，可咨询在线客服，询问具体原因。</p>
            </li>
            <li>
                <h3>设置交易密码收不到验证码这么办？<i ng-click="slideToggle($event)"></i></h3>
                <p style="padding-left:10px;">建议关闭呼叫转移功能。</p>
            </li>
        </ul>
    </div>
</div>