<div class="wrap wap-more-box" ng-controller="moreController">
    <div class="more-home">
        发现
    </div>
    <div class="more-bg">
        <!-- <a href="/GYWM?wap=true">
			<div><i class="txt">关于嗷呜</i>
				<p><span>></span></p>
			</div>
		</a>
		<div style="height:auto;overflow: hidden;"><a>客服热线</a>
			<p class="time">021-26136426转8011</br>
				<font>工作日：9:00 - 21:00<br />周末及节假日：9:00 - 18:00</font>
			</p>
		</div>
		<div ui-sref="YJFK"><a>意见反馈</a>
			<p><span>></span></p>
		</div>
		<div><a>版本号</a>
			<p>v {{version}}</p>
		</div>

	</div>
	<a href="/GYWM?wap=true">关于嗷呜</a> -->

    </div>
    <div class="more-image">
        <div class="more-imgs">
            <div class="more-bg-img" ui-sref="inviteFriend2({wap:true})">
                <img src="images/index/yaoqinghaoyou.png" alt="">
                <p>邀请好友</p>
            </div>
            <div class="more-bg-img">
                <a href="/GYWM?wap=true">
                    <img src="images/index/guanyuwubao.png" alt="">
                    <p>关于嗷呜</p>
                </a>
            </div>
            <div class="more-bg-img" ui-sref="aqbz({wap:true})">
                <img src="images/index/anquanbaozhuang.png" alt="">
                <p>安全保障</p>
            </div>
            <div class="more-bg-img" ui-sref="kefu({wap:true})">
                <img src="images/index/kefuzhongxing.png" alt="">
                <p>客服中心</p>
            </div>
            <div class="more-bg-img">
                <img src="images/index/jingqingqidai.png" alt="">
                <p>敬请期待</p>
            </div>
        </div>
    </div>
    <div class="more-picture">
        <p><span>&nbsp;</span>&nbsp;所有活动</p>
    </div>
    <div class="activitieslist">
        <div class="activitieslists" ng-repeat="list in index" infinite-scroll='loadMore(index)'>
            <a ng-href="{{ list.androidLocation + '?wap=true' }}"><img class="img" ng-src="{{　list.iosActivityImageUrl }}" alt=""></a>
            <img class="img" src="images/more/jieshumb.png" alt="" ng-if="list.end" style="position: absolute;top: 0;">
            <img class="imgs" src="images/more/jinxing.png" alt="" ng-if="!list.end">
            <img class="imgs" src="images/more/jieshu.png" alt="" ng-if="list.end">
            <div>
                <p>活动时间: {{ list.startTime | date:'yyyy.MM.dd' }} - {{ list.endTime | date:'yyyy.MM.dd' }}</p>
            </div>
        </div>
    </div>
</div>